{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'homepage/css/explore.css'  %}">{% endblock %}
{% block title %}Explore{% endblock title %}


{% block content %}
<div class="main">
    <h5 style="padding-left:20px"><b>Explore</b></h5>
    <div class="img_section">
        {% for p in posts %}
        <a href="{% url 'post_detail' p.id %}">
            <!-- Checking if the file is image or vidoe -->

            {% if p.media_type_html == "image" %}
            <img src="{{p.post_img.url}}" alt="postimg" class='postimg' ondblclick="liked({{p.id}})">
            {% else %}
            <video class="videos" controls muted>
                <source src="{{p.post_img.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
            {% endif %}
            <!-- ENd Check -->
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}