{% extends "base.html" %}
{% load static %}
{% block title %}Instagram{% endblock title %}
{% block additionalStyles %}

<link rel="stylesheet" href="{% static 'homepage/css/home.css' %}">{% endblock %}

{% block content %}



{% if request.user.following.all %}
{# Stories #}

<div class="stories" id="st">
    {% for user in request.user.following.all %}

    <div class="singlestory">
        <img src="{{user.img_url}}" class="" alt="">
        <br>
        <small>{{user.username|slice:":5"}}</small>
    </div>
    {% endfor %}
</div>
{# END Stories #}

{% for p in posts %}
<div>
    {% if p.user in request.user.following.all %}

    {# POST #}
    <div class="post_div">
        <div class="name_dp">
            <a href="{% url 'profile' p.user.username %}">
                <div>

                    <img src="{{p.user.img_url}}" alt="profile images" class="post_dp">

                </div>
                <strong style="display: inline-block; margin-left: 7px;">{{p.user.username}}</strong>
                <img src="{% static 'resource_imgs/threedot.svg' %}" style="float: right;" alt="setting"
                    class="footer_icons">
            </a>
        </div>
        <div class="postimg">
            <!-- Checking if the file is image or vidoe -->
            {% if p.media_type_html == "image" %}
            <img src="{{p.post_img.url}}" alt="img" ondblclick="liked({{p.id}})">
            {% else %}
            <video controls muted>
                <source src="{{p.post_img.url}}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
            {% endif %}
            <!-- ENd Check -->
        </div>
        <div style="margin-top: 8px;">
            <strong>{{p.user.username}}</strong><span class="description">{{p}}</span>
        </div>
        <div class="like_cmnt">

            <a href="javascript:;" class="likeimg" onclick="liked({{p.id}})">
                <svg id='{{p.id}}' style="width: 33px; height: 33px;" class="footer_icons" {% if user in p.like.all%}
                    fill='red' {%endif%}>
                    <use xlink:href="/static/resource_imgs/svgs/free.svg#cil-heart"></use>
                </svg>
            </a>
            <a style="margin-left: 20px;"><img src="{% static 'resource_imgs/comment.png' %}" class="footer_icons"
                    alt="comment"> </a>
            <p type="button" class="collapsible"> view {{p.get_comments.count}} comments..</p>
            <!-- Comment Section-->
            <div class="content {{p.id}}">
                {% for c in p.get_comments %}
                <img src="{{c.cmnt_user.img_url}}" alt="profile images" class="post_dp">
                <div class="cmnt_div">
                    <strong>{{c.cmnt_user.username}}</strong>
                    <p>{{c.comment}}. <span style="color: gray; font-size: 14px;">{{c.gen_time|timesince}}</span></p>

                </div>
                {% endfor %}
                {# Add comment #}
                <form method="POST" id="cmntpost{{p.id}}" onsubmit="add_comment(event,{{p.id}})">
                    {% csrf_token %}
                    <input id="cmntinput{{p.id}}" class="cmntinput" type="text" placeholder="add comment">
                    <input type="submit" value="add" class="btn btn-success btn-sm">
                </form>

            </div>
            <!--END Comment Section-->
        </div>
    </div>
    {# EndPOST #}
    {% endif %}

</div>
{% endfor %}
{% else %}
<h4 style="display: inline-block; margin:5px 30px 30px 135px ; "><strong>Follow people and pages</strong></h4>
<div class="people">
    {% for u in peoplemayknow %}
    <div class="">
        <img src="{{u.img_url}}" alt="profile images" class="peopledp">
        <span style="margin-left: 5px;">{{u.username|slice:":10"}}</span>
        <a id='follow{{u.id}}' onclick="follow('{{u.username}}','{{u.id}}')" class="btn  btn-sm"
            style="background-color: rgb(98, 169, 216) ; float: right; margin-right: 5px;">
            follow</a>

    </div>
    <br>
    {% endfor %}
</div>
<br><br>
<script>
    function follow(username, button_id) {
        $.ajax({
            url: '/ajax_follow',
            data: {
                'username': username
            },
            datatype: 'json',
            success: function (data) {
                l = document.getElementById('follow' + button_id)
                if (data.followed === true) {
                    l.innerText = "unfollow"
                    l.style.background = "rgb(112, 223, 78)"
                }
                else {
                    l.innerText = "follow"
                    l.style.background = " rgb(98, 169, 216)"
                }
            },
            failure: function () {
                console.log('error');
            }
        });
    }

</script>
{% endif %}

<script src=" {% static 'homepage/js/home.js' %}">
</script>

{% endblock %}