{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'homepage/css/nots.css'  %}">{% endblock %}
{% block title %}notifications{% endblock title %}


{% block content %}

{% if notifications %}
{% for n in notifications %}
<div class="notify">
    <div class="single" {% if n.active %} style="background-color: rgb(199, 219, 224);" {% endif %}>
        <a href="{% url 'post_detail' n.post.id %}">
            <img src="{{n.from_user.img_url}}" alt="profile images" class="post_dp">

            <strong>{{n.from_user.username|slice:":10"}}</strong>
            <h6 style="display: inline; color: gray;">{{n}}</h6>
            {% if n.post.media_type_html == "image" %}
            <img src="{{n.post.post_img.url}}" alt="" class="notifypostimg">
            {%endif%}
            <br>
            <small style="color: gray; margin-left: 50px;">{{n.gen_time|timesince}}</small>
            <br>
        </a>
    </div>
    {% endfor %}
    {% else %}
    <h4><strong>No Notification</strong></h4>
    {% endif %}
</div>


{% endblock %}