
*{
    font-family: Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
}

h1{
    color: blue;
}
.base {
    /* width: 550px; */
   
    background-color: white;
    min-height: 800px;
  
  }
  