{% load static %}
<style>
    .footer {
        position: fixed;
        bottom: 0;
        min-width: 529px;
        border-top: 1px solid gray;
        background-color: rgb(255, 255, 255);
    }


    .footer_icons {
        width: 35px;
        height: 35px;
    }

    .footer_img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }



    .container>a {
        margin-top: 6px;
    }

    .notfction {
        position: absolute;
        color: red;
    }

    .row {
        margin-top: 3px !important;
    }
</style>


<footer class="footer">

    <div class="container">
        <div class="row">
            <a href="{% url 'homepage' %}" class="col"><img src="{% static 'resource_imgs/home.svg' %}"
                    class="footer_icons " alt="home"></a>
            <a href="{% url 'explore' %}" class="col-3"><img src="{% static 'resource_imgs/explore.svg' %}"
                    class="footer_icons " alt="home"></a>
            <a href="{% url 'post' %}" class="col-3"><img src="{% static 'resource_imgs/upload.svg' %}"
                    class="footer_icons " id="postimg" alt="home"></a>

            <a href="{% url 'notifications' %}" class="col">

                <svg id='{{p.id}}' style="width: 33px; height: 33px;" class="footer_icons" 
                {% if request.session.active_not %} fill='red' {% endif %}>
                    <use xlink:href="/static/resource_imgs/svgs/free.svg#cil-heart"></use>
                </svg>
            </a>
            {# Profile Pic #}
            <a href="{% url 'profile' user.username %}" class="col">

                <img src="{{user.img_url}}" alt="profile images" class="footer_img">

            </a>
            {# END #}
        </div>
    </div>
</footer>