*{
    font-family: Arial, Helvetica, sans-serif;
}

.postmain{
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
}
#shwimg{
  /* border: 1px solid red; */
  width: 300px;
  height: 300px;
  margin: auto;
}
#shwimg img{
  max-width:300px;
  max-height:300px;
  
  object-fit: contain;

}

.imginput{
  margin-left: 15px;
  width: 500px;
  height:40px;
}
.dscrptn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 150px;
}
  
input[type=file] {
  font-size: 10px;
  text-align: right;
  filter: alpha(opacity=90);
  opacity: 1;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn {
  border: 2px solid gray;
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
  

  