
*{
    font-family: Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
}
.pro_img{
    position: relative;
    display: inline-block;
    color: white;
}
.pro_img a{
    position: absolute;
    bottom: 0%;
    left: 50%;
 opacity: 0%;
    color: red;
    transform: translate(-50%, -50%);
}
.pro_img a:hover{
    opacity: 100%;
    background-color: grey;

}

.profile_follow{
    /* border: 1px solid black; */
    margin-left: 20px;


}
.follow_div {
    margin-right: 0px;
    width: 347px;
    float: right;
    /* border: 1px solid black; */
    margin-top: 51px;
    color: rgb(83, 83, 83);
}


.flw_msg{
    margin-left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.flw_btn{
    /* float: left; */
    border: 1px solid rgb(199, 199, 199);
    width: 160px;
    padding: 4px;
    font-size: 18px;
    margin-right: 5px;
    /* margin-left: 27px; */
    color: rgb(83, 83, 83);
}
.flw_btn a{
    display: table;
    margin: auto ;
}
/* .flw_btn a{
    margin-left: 20px; */
/* } */
.profile_img{
width: 120px;
height: 120px;
border-radius: 50%;
display: inline;
object-fit: cover;
margin-top: 16px;
}
.edit_prof{
    background-color: rgba(236, 236, 236, 0);
    padding: 8px;
    border-radius: 7px;
    border: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.pst,.flwr,.flwng{
    float: left;
    font-size: 18px;
    margin-right: 20px;
    /* border: 1px solid black; */
}
.flwr a:hover,.flwng a:hover{
color: blue;
}
.posts{
    margin-left: 10px;
}
.posts > img, video{
    margin-top: 5px;
    width: 140px;
    height: 130px;
    object-fit: cover;
    margin-left: 12px;
object-fit: cover;

}


@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
  
}
  
  @media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
   
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .profile_img{
        width: 80px;
        height: 80px;
    }
    .follow_div{
        width: auto;

    }
}

@media only screen and (max-width: 375px){
	/*Small smartphones [325px -> 425px]*/
    .profile_img{
        width: 80px;
        height: 80px;
    }
    .follow_div{
        width: auto;
    }
}