*{
    font-family: Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
}
.detail_main{

    margin-left: 10px;
}
.post{
    margin-top: 5px;
}
.name_dp{
    min-height: 50px;
    margin-right: 25px;
    margin-bottom: 5px;
}
.username{
    position: fixed;
    top: 45px;
    display: inline;
    margin-left: 7px;
    margin-top: 20px !important;
}
.post_dp{
    width: 50px;
    height: 50px;
    float: left;

    border-radius: 50px;

}
.postimg{
    width:500px;
    height: 550px;
    margin-left: 35px;
    object-fit: cover;
    
}
.dscrptn{
    margin-left: 15px;
    margin-top: 10px;
}
video{
    margin-left: 35px;
}

.like_cmnt{
    margin-left: 15px;

    min-height: 300px;
    /* border: 1px solid black; */
}

.cmnt_div{
    /* border:1px solid black; */
    margin-right: 50px;
    margin-left: 60px;
    height: 60px;

  }
.cmntinput {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 100px;
}
*:focus{
    outline: none;
}