
*{
    font-family: Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    display: inline;
}

.notifypostimg{
    float: right;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: fill;
    margin-left: 40px;
    border-radius: 10%;

}
.post_dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.single{
    
    padding: 10px;
    /* border: 1px solid black; */
}