{% extends "base.html" %}
{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'app_users/css/follow.css'  %}">
{% endblock %}

{% block title %} Follower/Following{% endblock title %}

{% block content %}

<div class="mainfollow">
    <div class="leftdiv">
        <h3>followers</h3>
        {% for f in flwrs %}
        <div class="singlediv">
            <img src="{{f.img_url}}" alt="profile images" class="post_dp">
            <span style="margin-left: 5px;">{{f.username|slice:":10"}}</span>
            <a href="{% url 'follow_unfollow' f.id %}" class="btn btn-primary btn-sm">
                {% if f in user.following.all %}
                following {% else %}follow
                {% endif %} </a>
        </div>
        {% endfor %}
    </div>
    <div class="rightdiv">
        <h3>following</h3>
        {% for f in flwing %}
        <div class="singlediv">
            <img src="{{f.img_url}}" alt="profile images" class="post_dp">
            <span style="margin-left: 5px;">{{f.username|slice:":10"}}</span>
            <a href="" class="btn btn-primary btn-sm"> following</a>

        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}