{% extends "base.html" %}
{% load static %}
{% block title %}
{{profile_user}}
{% endblock title %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'app_users/css/profile.css'  %}">
{% endblock %}
{% block content %}

<div class="profile_follow">
    <img src="{{profile_user.img_url}}" alt="profile images" class="profile_img">
    <div class="follow_div">
        <div class="pst">
            <strong style="margin: 15px;">{{user_posts.count}}</strong>
            <br>
            <strong><a href="#"> Posts</a></strong>
        </div>
        <div class="flwr">
            <strong style="margin: 15px;">{{profile_user.followers.count}}</strong>
            <br>
            <strong><a href="{% url 'followunfollow' %}"> followers</a></strong>
        </div>
        <div class="flwng">
            <strong style="margin: 15px;">{{profile_user.following.count}}</strong>
            <br>
            <strong><a href="{% url 'followunfollow' %}"> following</a></strong>
        </div>
    </div>
    <h5 style="margin-left: 10px; margin-top: 10px;"><strong>{{profile_user.username}}</strong> </h5>
</div>

<!-- Following -->
{% if user != profile_user %}
<div class="flw_msg">
    <!-- href="{% url 'follow_unfollow' profile_user.id %}" -->
    <a id='follow' onclick="follow('{{profile_user.username}}')" style="background-color: brown;">
        <h4 class="flw_btn btn"
            style="background-color: {% if profile_user not in  user.following.all %} rgb(98, 169, 216);{%else%} rgb(112, 223, 78);{%endif%}">
            {% if profile_user in user.following.all %}
            unfollow{%else%}follow{%endif%}
        </h4>
    </a>
    <h4 class="flw_btn  btn"><a href="#">message</a></h4>
</div>
{% endif %}
<!-- END -->
<br>
<hr>
<!-- User POSTS -->
<div class="posts">
    {% for p in user_posts %}
    <img src="{{p.post_img.url}}" alt="" width="180px" height="165px">
    {% endfor %}
</div>
<script src="{% static 'app_users/js/profile.js' %}"></script>
{% endblock %}