{% extends "base.html" %}
{% load static %}
{% block title %}
{{profile_user}}
{% endblock title %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'app_users/css/profile.css'  %}">
{% endblock %}
{% block content %}

<div class="profile_follow">
    <div class="pro_img">
        <img src="{{profile_user.img_url}}" alt="profile images" class="profile_img">
        <a href="{% url 'set_dp' %}"> <img src="{% static 'resource_imgs/camera.png' %}" /></a>
    </div>
    <div class="follow_div">
        <div class="pst">
            <strong style="margin: 15px;">{{user_posts.count}}</strong>
            <br>
            <strong><a href="#"> Posts</a></strong>
        </div>
        <div class="flwr">
            <a href="{% url 'followunfollow' %}">
                <strong style="margin: 15px;">{{profile_user.followers.count}}</strong>
                <br>
                <strong>followers</strong>
            </a>
        </div>
        <div class="flwng">
            <a href="{% url 'followunfollow' %}">
                <strong style="margin: 15px;">{{profile_user.following.count}}</strong>
                <br>
                <strong> following</strong>
            </a>
        </div>
    </div>
    <h5 style="margin-left: 10px; margin-top: 10px; color: rgb(83, 83, 83);"><strong>{{profile_user.username}}</strong>
    </h5>
</div>

<!-- Following -->
{% if user != profile_user %}
<div class="flw_msg">
    <!-- href="{% url 'follow_unfollow' profile_user.id %}" -->
    <a id='follow' onclick="follow('{{profile_user.username}}')">
        <h4 class="flw_btn btn"
            style="background-color: {% if profile_user not in  user.following.all %} rgb(98, 169, 216);{%else%} rgb(112, 223, 78);{%endif%}">
            <b>
                {% if profile_user in user.following.all %}
                unfollow{%else%}follow{%endif%}
            </b>
        </h4>
    </a>
    <h4 class="flw_btn  btn"><a href="#"> <b>message</b></a></h4>
</div>
{% else %}
<div>
    <a href="{% url 'set_dp' %}">
        <button class="edit_prof">Edit Profile</button></a>
</div>
{% endif %}
<!-- END -->
<br>
<br>
<hr>
<!-- User POSTS -->
<div class="posts">
    {% for p in user_posts %}
    {% if p.media_type_html == "image" %}
    <img src="{{p.post_img.url}}" alt="postimg" class='postimg' ondblclick="liked({{post.id}})">
    {% else %}
    <video class="video" style="margin-left: 35px;" muted>
        <source src="{{p.post_img.url}}" type='video/mp4'>
        Your browser does not support the video tag.
    </video>
    {% endif %}
    <!-- ENd Check -->
    {% endfor %}
</div>
<script src="{% static 'app_users/js/profile.js' %}"></script>
{% endblock %}